header{
    text-align: center;
    color: rgb(230, 150, 230);
    background-color: whitesmoke;
    font-size: xx-large;
    font-family: "Georgia", serif;
    letter-spacing: 1.5px;
    padding: 15px;
    padding: auto;
}

.header img{
    border:3px solid pink;
    border-radius: 15px; 
    max-width: 100%;
    height: auto; 
    box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.3);
}

.header a:hover {
    background-color: whitesmoke; 
    text-decoration: underline; 
    display: inline-block;
    margin: 10px; 
    font-weight: bold;
    color: rgb(239, 126, 211);
    text-align: center;
    transition: 0.3s ease-in-out;
 }


.article {
    width: 80%; 
    margin: 20px auto; 
    padding: 20px;
    background-color: #f9f9dc; 
    border: solid 2px #f0f0b6;
    border-radius: 10px;
    text-align: center;
    font-family: "Georgia", serif;
}
.article h2{
    color: rgb(175, 129, 218);
    text-align: center;
    font-size: x-large;
    font-family: "Georgia", serif;

}


.section2 {
    text-align: center; 
    margin: 20px 0; 
}


button {
    padding: 10px 20px;
    border-radius: 10px;
    border: solid 2px rgb(247, 29, 178);
    background-color: white;
    font-size: medium;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background-color: rgb(247, 29, 178);
    color: white;
}


footer {
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    background-color: antiquewhite;
    border: solid 2px rgb(171, 129, 73);
    text-align: center;
    border-radius: 10px;
}






